<h1>Patients on File</h1>
<%= link_to 'New Patient', new_patient_path, class: "ui blue button inverted" %>
<hr>
<br>
<% @patients.each do |patient| %>
  <h2><%= patient.patient_full_name %></h2>
  <%= link_to 'Appointments', patient_appointments_path(patient), class: "ui blue tiny button inverted" %>
  <%= link_to 'Edit', edit_patient_path(patient), class: "ui blue tiny button inverted" %> 
  <%= link_to 'Delete', patient_path(patient), method: :delete, class: "ui red tiny button inverted" %> 

<% end %>
<br>
<hr>

