<h1>New Appointment</h1>
<%= form_with(model: [@patient, @appointment], local: true, class: "ui form") do |f| %>
  <%= f.label :purpose %>
  <%= f.text_field :purpose, required: true, autofocus: true, placeholder: "Purpose of visit" %>
  <%= f.label :date %>
  <%= f.date_field :date, required: true, placeholder: "Date" %>
  <%= f.label :user %>
  <%= f.select :user_id, @user.collect { |d| [d.doctor_full_name, d.id] }%>
  <br>
  <%= f.submit class: "ui green button inverted" %>
<% end %>
